/vendor
/node_modules
.env
.env.local
.env.*.local
*.log
storage/*.log
storage/framework/
bootstrap/cache/
.idea
.vscode
*.swp
*.swo
.DS_Store*
Thumbs.db
/public/js/
/public/css/
/public/mix-manifest.json
/public/build
/public/hot
storage/app/private
*.pem
/tmp
.phpunit.result.cache
coverage.xml
resources/lang/locales.js
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.yarn
